# Application Port
PORT=3000

# Database Configuration (for docker-compose)
DB_USER=mootasks
DB_PASSWORD=mootasks
DB_NAME=mootasks
DB_LOCAL_PORT=3307

# Application Secrets
# Need at least 32 characters
NUXT_SESSION_PASSWORD=replace-with-a-very-long-secret-key-at-least-32-chars
